@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Russo+One|Teko&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  background-color: rgb(37, 37, 37);
  color: rgb(71, 71, 71);
}

h1{
  font-size: 50px;
  color: rgb(108, 206, 193);
  font-family: 'Russo One', sans-serif;

}

button{
  background-color: rgb(108, 206, 193);
  border: none;
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
p{
  color: rgb(255, 255, 255);
}